# Single env example for local dev
# Copy to .env and fill values
APP_DB_ENABLED=true

DB_URL=jdbc:mariadb://localhost:3306/etl
DB_USERNAME=etl_user
DB_PASSWORD=CHANGE_ME

SALESFORCE_TOKEN_URL=/services/oauth2/token

# module ports
ROUTING_APP_PORT=3931
# 라우팅 엔진 Base URL(원하면 로컬 host를 직접 지정)
ROUTING_ENGINE_BASE_URL=http://localhost:3931
FILE_APP_PORT=9443

# routing-engine
REDIS_URL=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
SALESFORCE_LOGIN_URL=https://login.salesforce.com
SALESFORCE_API_VERSION=60.0

JAVA_TOOL_OPTIONS="-Xms256m -Xmx512m"
