# Single env example for local dev
# Copy to .env and fill values
APP_DB_ENABLED=true

DB_URL=jdbc:mariadb://localhost:3306/etl
DB_USERNAME=etl_user
DB_PASSWORD=CHANGE_ME

SALESFORCE_CLIENT_ID=
SALESFORCE_CLIENT_SECRET=
SALESFORCE_REDIRECT_URI=
SALESFORCE_AUTH_URL=https://login.salesforce.com/services/oauth2/authorize
SALESFORCE_TOKEN_URL=https://login.salesforce.com/services/oauth2/token
SALESFORCE_MY_DOMAIN=https://yourinstance.my.salesforce.com
SALESFORCE_ALLOWED_ORIGINS=https://yuricompany-dev-ed.develop.lightning.force.com
SALESFORCE_ACCESS_TOKEN_TTL_MINUTES=55

# module ports
MAIN_APP_PORT=8080
ROUTING_APP_PORT=3931
FILE_APP_PORT=9443

# routing-engine
ALB_URI=http://localhost:3931
REDIS_URL=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
SALESFORCE_LOGIN_URL=https://login.salesforce.com
SALESFORCE_API_VERSION=60.0
SALESFORCE_INSTANCE_URL=https://example.my.salesforce.com

JAVA_TOOL_OPTIONS="-Xms256m -Xmx512m"
