<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.etl.sfdc.etl.repository.ETLRepository">

    <select id="setFieldDef" parameterType="String">
        ${DDL}
    </select>

    <!-- #은 Object를 받을 때. 문자열은 $로 처리-->
    <insert id="insertObject">
        ${upperQuery}
        <foreach item="record" collection="listUnderQuery" separator=",">
            ${record}
        </foreach>
    </insert>

</mapper>

